#about, #contact, #portfolio {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 10px;
}

#footer-text {
    font-family: 'Open Sans', sans-serif;
}

#profile-photo {
    padding: 10px;
}


.about-me {
    padding: 10px;
}

.body-text {
    font-family: 'Open Sans', sans-serif;
}

.button-text {
    font-family: 'Open Sans', sans-serif; 
}

.navbar-item {
    font-family: 'Open Sans', sans-serif;
}

.project-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}