#about,
#contact,
#portfolio {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#about-navbar-item:hover {
  /* "disable" hover effect */
  background-color: #042a2b;
  color: #fafffd;
}

#brand {
  color: #fafffd;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 10px;
}

#contact-navbar-item:hover {
  /* "disable" hover effect */
  background-color: #042a2b;
  color: #fafffd;
}

#footer-text {
  font-family: 'Open Sans', sans-serif;
}

#portfolio-navbar-item:hover {
  /* "disable" hover effect */
  background-color: #042a2b;
  color: #fafffd;
}

#profile-photo {
  border: solid;
  border-width: thin;
  border-color: #042a2b;
}


.about-me {
  padding-bottom: 20px;
  padding-left: 20px;
}

.body-text {
  color: #342e37;
  font-family: 'Open Sans', sans-serif;
}

.button-text {
  color: #342e37;
  font-family: 'Open Sans', sans-serif;
}

.contact-label {
  font-family: 'Open Sans', sans-serif;
}

.input-text {
  font-family: 'Open Sans', sans-serif;
}

.my-card {
  border: solid;
  border-color: #042a2b;
  border-width: thin;
}

.my-card-image {
  border-bottom: solid;
  border-color: #042a2b;
  border-width: thin;
}

.my-container {
  padding-bottom: 100px;
  padding-top: 50px;
}

.my-footer {
  background-color: #042a2b;
  color: #fafffd;
}

.my-h1 {
  border-bottom: solid;
  border-color: #042a2b;
  color: #342e37;
  padding-bottom: 25px;
  padding-top: 25px;
}

.my-icon {
  color: #342e37;
}

.my-navbar {
  background-color: #042a2b;
}

.my-navbar-item {
  background-color: #042a2b;
  color: #fafffd;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

.my-navbar-menu {
  background-color: #042a2b;
}

.my-span {
  color: #fafffd;
}

.project-title {
  color: #342e37;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}